.responsive-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.image-round {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}
.image-square {
  border-radius: 5px;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}
