<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Swift UI | Badges</title>
    <link rel="icon" href="/assests/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/components/swift.css" />
    <link rel="stylesheet" href="/documentation.css" />
  </head>
  <body>
    <!-- Header Starts -->
    <header>
      <div
        class="container display-flex justify-content-space-between align-items-center"
      >
        <div class="logo">
          <a
            class="display-flex font-weight-black align-items-center h2"
            href="/home.html"
          >
            <img src="/assests/logo.png" alt="Swift Logo" /><span
              >Swift UI</span
            >
          </a>
        </div>
        <div class="navigation font-weight-semibold">
          <a class="h3" href="/home.html">Home</a>
          <a class="h3" href="/components/usage/usage.html">Documentation</a>
        </div>
      </div>
    </header>
    <!-- Header Ends -->

    <!-- Main Content Starts -->
    <div class="wrapper display-flex">
      <!-- Sidebar starts -->
      <aisde class="sidebar">
        <h3 class="font-weight-bold">Getting Started</h3>
        <ul class="list-style-none">
          <li><a href="/components/usage/usage.html">Usage</a></li>
          <li>
            <a href="/components/typography/typography.html">Typography</a>
          </li>
        </ul>

        <h3>Components</h3>
        <ul class="list-style-none">
          <li><a href="/components/alert/alert.html">Alerts</a></li>
          <li><a href="/components/avatar/avatar.html">Avatars</a></li>
          <li><a href="/components/badges/badges.html">Badges</a></li>
          <li><a href="/components/buttons/buttons.html">Buttons</a></li>
          <li><a href="/components/image/image.html">Image</a></li>
          <li><a href="/components/toast/toast.html">Toast</a></li>
          <li><a href="/components/cards/cards.html">Cards</a></li>
          <li><a href="/components/modal/modal.html">Modal</a></li>
          <li><a href="/components/lists/lists.html">Lists</a></li>
          <li><a href="/components/input/input.html">Input</a></li>
          <li>
            <a href="/components/navigation/navigation.html">Navigation</a>
          </li>
          <li><a href="/components/rating/rating.html">Ratings</a></li>
        </ul>
        <div class="social-media display-flex">
          <a class="h3" href="https://github.com/varun1233" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
          <a
            class="h3"
            href="https://twitter.com/VarunMittal1233"
            target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            class="h3"
            href="https://www.linkedin.com/in/varunmittal1233/"
            target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
        </div>
      </aisde>
      <!-- Sidebar ends -->

      <section class="main-documentation">
        <!-- Component Introduction -->
        <div class="component-intro font-weight-regular">
          <h1>Badges</h1>
          <p>
            Badges are being used to display a notification count or status
            information
          </p>
        </div>

        <!-- Example of Profile Badge Starts -->
        <!-- Component Usage Explanation -->
        <div class="component-usage-explain">
          <h2>Example of Status Badge</h2>
          <p>
            We have 3 type of status badge that can be integrated with Avatars.
            You can use
            <span class="code"
              >status-online, status-offline & status-away</span
            >
            classes to show different states of user. Check code below to copy
            the html part.
          </p>
        </div>
        <!-- Component Display -->
        <div
          class="component-display display-flex justify-content-space-evenly"
        >
          <div class="badge-container">
            <div class="avatar avatar-xxl">
              <img
                src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/125296371/original/653cc81872119844644e33d40f5afd9bd61743b6/create-cool-cartoon-avatars.jpg"
                alt="avatar"
              />
            </div>
            <span class="badge-status status-online"></span>
          </div>
          <div class="badge-container">
            <div class="avatar avatar-xl">
              <img
                src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/125296371/original/653cc81872119844644e33d40f5afd9bd61743b6/create-cool-cartoon-avatars.jpg"
                alt="avatar"
              />
            </div>
            <span class="badge-status status-offline"></span>
          </div>
          <div class="badge-container">
            <div class="avatar avatar-md">
              <img
                src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/125296371/original/653cc81872119844644e33d40f5afd9bd61743b6/create-cool-cartoon-avatars.jpg"
                alt="avatar"
              />
            </div>
            <span class="badge-status status-away"></span>
          </div>
          <div class="badge-container">
            <div class="avatar avatar-xs">
              <img
                src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/125296371/original/653cc81872119844644e33d40f5afd9bd61743b6/create-cool-cartoon-avatars.jpg"
                alt="avatar"
              />
            </div>
            <span class="badge-status status-online"></span>
          </div>
        </div>
        <!-- Component Code -->
        <div class="component-code">
          <script
            type="text/plain"
            class="line-numbers language-markup prism-default"
          >
            <div class="badge-container">
              <div class="avatar avatar-xxl">
                <img src=".." alt="avatar" />
                <span class="badge-status status-online badge-botton-right"></span>
              </div>
            </div>
            <div class="badge-container">
              <div class="avatar avatar-xl">
                <img src=".." alt="avatar" />
              </div>
              <span class="badge-status status-offline"></span>
            </div>
            <div class="badge-container">
              <div class="avatar avatar-md">
                <img src=".." alt="avatar" />
              </div>
              <span class="badge-status status-away"></span>
            </div>
            <div class="badge-container">
              <div class="avatar avatar-xs">
                <img src=".." alt="avatar"/>
              </div>
              <span class="badge-status status-online"></span>
            </div>
          </script>
        </div>
        <!-- Example of Profile Badge Ends -->

        <!-- Example Of Number Badge Starts-->
        <!-- Component Usage Explanation -->
        <div class="component-usage-explain">
          <h2>Example of Number Badge</h2>
          <p>
            Number badge can be used to show notification count. There are 2
            variants of number badges: position right and position left. You can
            use the
            <span class="code">badge-top-left and badge-top-right</span>
            classes to change the position of the notification count. Check code
            below to copy the html part.
          </p>
        </div>
        <!-- Component Display -->
        <div
          class="component-display display-flex justify-content-space-evenly"
        >
          <div class="badge-container">
            <i class="far fa-envelope"></i>
            <span class="badge-number badge-top-right">8</span>
          </div>
          <div class="badge-container">
            <i class="fas fa-shopping-cart"></i>
            <span class="badge-number badge-top-right">8</span>
          </div>
          <div class="badge-container">
            <i class="far fa-bell"></i>
            <span class="badge-number badge-top-left">12</span>
          </div>
        </div>
        <!-- Component Code -->
        <div class="component-code">
          <script
            type="text/plain"
            class="line-numbers language-markup prism-default"
          >
            <div class="badge-container">
              <i class="far fa-envelope"></i>
              <span class="badge-number badge-top-right">8</span>
            </div>

            <div class="badge-container">
              <i class="fas fa-shopping-cart"></i>
              <span class="badge-number badge-top-right">8</span>
            </div>

            <div class="badge-container">
              <i class="far fa-bell"></i>
              <span class="badge-number badge-top-left">12</span>
            </div>
          </script>
        </div>
        <!-- Example Of Number Badge Ends-->
      </section>
    </div>
    <!-- Main Content Ends -->
  </body>
  <script
    src="https://kit.fontawesome.com/d7aea2aee7.js"
    crossorigin="anonymous"
  ></script>
  <script src="/utils/prism/prism.js"></script>
</html>
