header {
  background-color: var(--primary-color-light);
  box-shadow: 0px 0px 1rem 4px var(--bs-light);
}
header .container {
  padding: 1rem;
}
header img {
  width: 4.5rem;
  display: block;
  margin-right: 1.5rem;
}
.navigation a {
  padding: 0 1rem;
  color: var(--primary-font-color);
  letter-spacing: 0.5px;
}
.navigation a:hover {
  color: var(--primary-color);
}
.logo a {
  color: var(--primary-font-color);
}
