<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Swift UI | Alerts</title>
    <link rel="icon" href="/assests/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/components/swift.css" />
    <link rel="stylesheet" href="/documentation.css" />
  </head>
  <body>
    <!-- Header Starts -->
    <header>
      <div
        class="container display-flex justify-content-space-between align-items-center"
      >
        <div class="logo">
          <a
            class="display-flex font-weight-black align-items-center h2"
            href="/home.html"
          >
            <img src="/assests/logo.png" alt="Swift Logo" /><span
              >Swift UI</span
            >
          </a>
        </div>
        <div class="navigation font-weight-semibold">
          <a class="h3" href="/home.html">Home</a>
          <a class="h3" href="/components/usage/usage.html">Documentation</a>
        </div>
      </div>
    </header>
    <!-- Header Ends -->

    <!-- Main Content Starts -->
    <div class="wrapper display-flex">
      <!-- Sidebar starts -->
      <aisde class="sidebar">
        <h3 class="font-weight-bold">Getting Started</h3>
        <ul class="list-style-none">
          <li><a href="/components/usage/usage.html">Usage</a></li>
          <li>
            <a href="/components/typography/typography.html">Typography</a>
          </li>
        </ul>

        <h3>Components</h3>
        <ul class="list-style-none">
          <li><a href="/components/alert/alert.html">Alerts</a></li>
          <li><a href="/components/avatar/avatar.html">Avatars</a></li>
          <li><a href="/components/badges/badges.html">Badges</a></li>
          <li><a href="/components/buttons/buttons.html">Buttons</a></li>
          <li><a href="/components/image/image.html">Image</a></li>
          <li><a href="/components/toast/toast.html">Toast</a></li>
          <li><a href="/components/cards/cards.html">Cards</a></li>
          <li><a href="/components/modal/modal.html">Modal</a></li>
          <li><a href="/components/lists/lists.html">Lists</a></li>
          <li>
            <a class="selected-component" href="/components/input/input.html"
              >Input</a
            >
          </li>
          <li>
            <a href="/components/navigation/navigation.html">Navigation</a>
          </li>
          <li><a href="/components/rating/rating.html">Ratings</a></li>
          <li><a href="/components/grids/grid.html">Grids</a></li>
        </ul>
        <div class="social-media display-flex">
          <a class="h3" href="https://github.com/varun1233" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
          <a
            class="h3"
            href="https://twitter.com/VarunMittal1233"
            target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            class="h3"
            href="https://www.linkedin.com/in/varunmittal1233/"
            target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
        </div>
      </aisde>
      <!-- Sidebar ends -->

      <section class="main-documentation">
        <!-- Component Introduction -->
        <div class="component-intro font-weight-regular">
          <h1>Inputs</h1>
          <p>
            Inputs are used to collect data from users directly in form of
            texts, numbers, clicks, checkboxes, radio buttons etc.
          </p>
        </div>

        <!-- Example of Form using Inputs Starts -->
        <!-- Component Usage Explanation -->
        <div class="component-usage-explain">
          <h2>Example of Simple Login Form</h2>
          <p>
            Inputs can be used separately when needed or within a form group.
          </p>
        </div>
        <!-- Component Display -->
        <div
          class="component-display display-flex justify-content-space-evenly"
        >
          <form class="form-wrapper">
            <h1 class="form-heading font-weight-bold">Login</h1>
            <div class="form-group">
              <label class="h5 font-weight-medium" for="email"
                >Email address</label
              >
              <input
                class="form-control h5"
                name="email"
                id="email"
                placeholder="varun@neog.camp"
                type="email"
              />
            </div>
            <div class="form-group">
              <label class="h5 font-weight-medium" for="password"
                >Password</label
              >
              <input
                class="form-control h5"
                placeholder="*********"
                name="password"
                id="password"
                type="password"
              />
            </div>
            <div class="checkbox-container">
              <span>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="rememberMe"
                />
                <label
                  class="form-check-label h5 font-weight-medium"
                  for="rememberMe"
                  >Remember me</label
                >
              </span>
              <a class="h5 font-weight-semibold" href="#"
                >Forgot your Password?</a
              >
            </div>
            <button class="btn btn-primary">Login</button>
            <a
              class="h5 font-weight-medium text-align-center new-account-cta font-weight-semibold"
              href="#"
              >Create a New Account >
            </a>
          </form>
        </div>
        <!-- Component Code -->
        <div class="component-code">
          <script
            type="text/plain"
            class="line-numbers language-markup prism-default"
          >
            <form class="form-wrapper">
              <h1 class="form-heading font-weight-bold">Login</h1>
              <div class="form-group">
                <label class="h5 font-weight-medium" for="email"
                  >Email address</label
                >
                <input
                  class="form-control h5"
                  name="email"
                  id="email"
                  placeholder="varun@neog.camp"
                  type="email"
                />
              </div>
              <div class="form-group">
                <label class="h5 font-weight-medium" for="password"
                  >Password</label
                >
                <input
                  class="form-control h5"
                  placeholder="*********"
                  name="password"
                  id="password"
                  type="password"
                />
              </div>
              <div class="checkbox-container">
                <span>
                  <input
                  class="form-check-input"
                  type="checkbox"
                  id="rememberMe"
                />
                <label
                  class="form-check-label h5 font-weight-medium"
                  for="rememberMe"
                  >Remember me</label
                >
                </span>
                <a class="h5 font-weight-semibold" href="#"
                  >Forgot your Password?</a
                >
              </div>
              <button class="btn btn-primary">Login</button>
              <a
                class="h5 font-weight-medium text-align-center new-account-cta font-weight-semibold"
                href="#"
                >Create a New Account >
              </a>
            </form>
          </script>
        </div>
        <!-- Example of Form using Inputs Ends -->

        <!-- Example of Input Variation Starts -->
        <!-- Component Usage Explanation -->
        <div class="component-usage-explain">
          <h2>Example of Input Variations</h2>
        </div>
        <!-- Component Display -->
        <div
          class="component-display display-flex justify-content-space-evenly"
        >
          <form class="form-wrapper">
            <div class="form-group validation-input">
              <label class="h5 label">Invalid Validation</label>
              <input
                class="form-control"
                placeholder="Invalid Validation"
                type="email"
                required
              />
            </div>
            <div class="form-group">
              <label class="h5 label">Disabled Input</label>
              <input
                class="form-control"
                placeholder="Disabled Input"
                type="text"
                disabled
              />
            </div>
            <div class="form-group">
              <label class="h5 label">Disabled Readonly</label>
              <input
                class="form-control"
                placeholder="Disabled Readonly"
                type="text"
                readonly
              />
            </div>
          </form>
        </div>
        <!-- Component Code -->
        <div class="component-code">
          <script
            type="text/plain"
            class="line-numbers language-markup prism-default"
          >
            <!-- Valid/Invalid Input -->
            <label class="h5 label">Invalid Validation</label>
            <input
              class="form-control"
              placeholder="Invalid Validation"
              type="email"
              required
            />
            <!-- Disabled Input -->
            <label class="h5 label">Disabled Input</label>
            <input
              class="form-control"
              placeholder="Disabled Input"
              type="text"
              disabled
            />
            <!-- Disabled Read Only Input -->
            <div class="form-group">
              <label class="h5 label">Disabled Readonly</label>
              <input
                class="form-control"
                placeholder="Disabled Readonly"
                type="text"
                readonly
              />
            </div>
          </script>
        </div>
        <!-- Example of Input Variation Ends -->
      </section>
    </div>
    <!-- Main Content Ends -->
  </body>
  <script
    src="https://kit.fontawesome.com/d7aea2aee7.js"
    crossorigin="anonymous"
  ></script>
  <script src="/utils/prism/prism.js"></script>
</html>
