.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 40rem;
  margin: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--color-black);
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
}
.form-heading {
  width: 100%;
  text-align: center;
  color: var(--primary-font-color);
  margin: 1.5rem auto;
}
.form-group {
  margin-bottom: 1.5rem;
}
label {
  display: inline-block;
  margin-bottom: 5px;
}
.form-control {
  display: block;
  width: 100%;
  padding: 3.75px 7.5px;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: var(--primary-font-color);
  background-color: var(--secondary-font-color);
  background-clip: padding-box;
  border: 1px solid var(--form-control-border);
  border-radius: 3px;
}
.checkbox-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0rem auto 1.8rem auto;
}
.form-check-label {
  margin-bottom: 0;
}
.form-check-input {
  margin: 0 5px 0 0;
}
.new-account-cta {
  color: var(--primary-font-color);
  margin: 1rem auto auto auto;
}
.validation-input input:valid {
  border: 2px solid var(--success-alert-font-color);
}
.validation-input input:invalid {
  border: 2px solid var(--danger-alert-font-color);
}
