<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Swift UI | Avatar</title>
    <link rel="icon" href="/assests/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/components/swift.css" />
    <link rel="stylesheet" href="/documentation.css" />
  </head>
  <body>
    <!-- Header Starts -->
    <header>
      <div
        class="container display-flex justify-content-space-between align-items-center"
      >
        <div class="logo">
          <a
            class="display-flex font-weight-black align-items-center h2"
            href="/home.html"
          >
            <img src="/assests/logo.png" alt="Swift Logo" /><span
              >Swift UI</span
            >
          </a>
        </div>
        <div class="navigation font-weight-semibold">
          <a class="h3" href="/home.html">Home</a>
          <a class="h3" href="/components/usage/usage.html">Documentation</a>
        </div>
      </div>
    </header>
    <!-- Header Ends -->

    <!-- Main Content Starts -->
    <div class="wrapper display-flex">
      <!-- Sidebar starts -->
      <aisde class="sidebar">
        <h3 class="font-weight-bold">Getting Started</h3>
        <ul class="list-style-none">
          <li><a href="/components/usage/usage.html">Usage</a></li>
          <li>
            <a href="/components/typography/typography.html">Typography</a>
          </li>
        </ul>

        <h3>Components</h3>
        <ul class="list-style-none">
          <li><a href="/components/alert/alert.html">Alerts</a></li>
          <li>
            <a class="selected-component" href="/components/avatar/avatar.html"
              >Avatars</a
            >
          </li>
          <li><a href="/components/badges/badges.html">Badges</a></li>
          <li><a href="/components/buttons/buttons.html">Buttons</a></li>
          <li><a href="/components/image/image.html">Image</a></li>
          <li><a href="/components/toast/toast.html">Toast</a></li>
          <li><a href="/components/cards/cards.html">Cards</a></li>
          <li><a href="/components/modal/modal.html">Modal</a></li>
          <li><a href="/components/lists/lists.html">Lists</a></li>
          <li><a href="/components/input/input.html">Input</a></li>
          <li>
            <a href="/components/navigation/navigation.html">Navigation</a>
          </li>
          <li><a href="/components/rating/rating.html">Ratings</a></li>
          <li><a href="/components/grids/grid.html">Grids</a></li>
        </ul>
        <div class="social-media display-flex">
          <a class="h3" href="https://github.com/varun1233" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
          <a
            class="h3"
            href="https://twitter.com/VarunMittal1233"
            target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            class="h3"
            href="https://www.linkedin.com/in/varunmittal1233/"
            target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
        </div>
      </aisde>
      <!-- Sidebar ends -->

      <section class="main-documentation">
        <!-- Component Introduction -->
        <div class="component-intro font-weight-regular">
          <h1>Avatar</h1>
          <p>
            Avatar can be used to show user's profile picture on profile
            information page, on navigation bar, in blogs grid items.
          </p>
        </div>

        <!-- Image Avatar Starts-->
        <!-- Component Usage Explanation -->
        <div class="component-usage-explain">
          <h2>Example of Image Avatar</h2>
          <p>
            Avatar is available in 6 different sizes. You can use image in
            Avatar. You need to include class avatar and for size add class
            according to size
            <span class="code"
              >avatar-xxl, avatar-xl, avatar-lg, avatar-md avatar-sm
              avatar-xs</span
            >
            (e.g.<span class="code">class="avatar avatar-lg"</span>)
          </p>
        </div>
        <!-- Component Display -->
        <div
          class="component-display display-flex justify-content-space-evenly"
        >
          <div class="avatar avatar-xxl">
            <img
              src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/125296371/original/653cc81872119844644e33d40f5afd9bd61743b6/create-cool-cartoon-avatars.jpg"
              alt="avatar"
            />
          </div>
          <div class="avatar avatar-xl">
            <img
              src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/125296371/original/653cc81872119844644e33d40f5afd9bd61743b6/create-cool-cartoon-avatars.jpg"
              alt="avatar"
            />
          </div>
          <div class="avatar avatar-lg">
            <img
              src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/125296371/original/653cc81872119844644e33d40f5afd9bd61743b6/create-cool-cartoon-avatars.jpg"
              alt="avatar"
            />
          </div>
          <div class="avatar avatar-md">
            <img
              src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/125296371/original/653cc81872119844644e33d40f5afd9bd61743b6/create-cool-cartoon-avatars.jpg"
              alt="avatar"
            />
          </div>
          <div class="avatar avatar-sm">
            <img
              src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/125296371/original/653cc81872119844644e33d40f5afd9bd61743b6/create-cool-cartoon-avatars.jpg"
              alt="avatar"
            />
          </div>
          <div class="avatar avatar-xs">
            <img
              src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/125296371/original/653cc81872119844644e33d40f5afd9bd61743b6/create-cool-cartoon-avatars.jpg"
              alt="avatar"
            />
          </div>
        </div>
        <!-- Component Code -->
        <div class="component-code">
          <script
            type="text/plain"
            class="line-numbers language-markup prism-default"
          >
            <div class="avatar avatar-xxl">
              <img src="..." alt="avatar"/>
            </div>
            <div class="avatar avatar-xl">
              <img src="..." alt="avatar"/>
            </div>
            <div class="avatar avatar-lg">
              <img src="..." alt="avatar"/>
            </div>
            <div class="avatar avatar-md">
              <img src="..." alt="avatar"/>
            </div>
            <div class="avatar avatar-sm">
              <img src="..." alt="avatar"/>
            </div>
            <div class="avatar avatar-xs">
              <img src="..." alt="avatar"/>
            </div>
          </script>
        </div>
        <!-- Image Avatar Ends-->

        <!-- Text Avatar Starts-->
        <!-- Component Usage Explanation -->
        <div class="component-usage-explain">
          <h2>Example of Text Avatar</h2>
          <p>
            You can use initial letters of user in Avatar as well. You need to
            include class <span class="code">avatar-text</span> along with
            <span class="code">avatar</span> and size class. (e.g.
            <span class="code">class="avatar avatar-text avatar-lg"</span>)
          </p>
        </div>
        <!-- Component Display -->
        <div
          class="component-display display-flex justify-content-space-evenly"
        >
          <div class="avatar avatar-text avatar-xxl">
            <span>VM</span>
          </div>
          <div class="avatar avatar-text avatar-xl">
            <span>VM</span>
          </div>
          <div class="avatar avatar-text avatar-lg">
            <span>VM</span>
          </div>
          <div class="avatar avatar-text avatar-md">
            <span>VM</span>
          </div>
          <div class="avatar avatar-text avatar-sm">
            <span>VM</span>
          </div>
          <div class="avatar avatar-text avatar-xs">
            <span>VM</span>
          </div>
        </div>
        <!-- Component Code -->
        <div class="component-code">
          <script
            type="text/plain"
            class="line-numbers language-markup prism-default"
          >
            <div class="avatar avatar-text avatar-xxl">
              <span>VM</span>
            </div>
            <div class="avatar avatar-text avatar-xl">
              <span>VM</span>
            </div>
            <div class="avatar avatar-text avatar-lg">
              <span>VM</span>
            </div>
            <div class="avatar avatar-text avatar-md">
              <span>VM</span>
            </div>
            <div class="avatar avatar-text avatar-sm">
              <span>VM</span>
            </div>
            <div class="avatar avatar-text avatar-xs">
              <span>VM</span>
            </div>
          </script>
        </div>
        <!-- Text Avatar Ends-->
      </section>
    </div>
    <!-- Main Content Ends -->
  </body>
  <script
    src="https://kit.fontawesome.com/d7aea2aee7.js"
    crossorigin="anonymous"
  ></script>
  <script src="/utils/prism/prism.js"></script>
</html>
