.toast {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  font-size: 1.4rem;
  padding: 1rem;
  width: fit-content;
  z-index: 5;
}
.btn-close {
  border: none;
  background: transparent;
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--primary-font-color);
  margin-left: 1.5rem;
  opacity: 0.8;
}
.btn-close:focus {
  box-shadow: 0 0 0 2px var(--color-black);
}
.btn-close:hover {
  opacity: 1;
}
.toast span {
  flex: 1;
}
.toast-success {
  background-color: var(--success-alert-background-color);
  color: var(--success-alert-font-color);
  border-color: var(--success-alert-border-color);
}
.toast-error {
  background-color: var(--danger-alert-background-color);
  color: var(--danger-alert-font-color);
  border-color: var(--danger-alert-border-color);
}
.toast-info {
  background-color: var(--primary-alert-background-color);
  color: var(--primary-alert-font-color);
  border-color: var(--primary-alert-border-color);
}
