@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/prismjs@1.26.0/themes/prism-tomorrow.min.css%27");
@import url("/components/alert/alert.css");
@import url("/components/avatar/avatar.css");
@import url("/components/header/header.css");
@import url("/components/prism/prism.css");
@import url("/components/badges/badges.css");
@import url("/components/buttons/button.css");
@import url("/components/image/image.css");
@import url("/components/toast/toast.css");
@import url("/components/cards/cards.css");
@import url("/components/modal/modal.css");
@import url("/components/utility.css");
@import url("/components/typography/typography.css");
@import url("/components//lists/lists.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #f26136;
  --primary-color-light: #ffe4e9;
  --secondary-color: #143f45;

  /* --primary-background-color: #f9f9f9 - For Future Use */
  --primary-background-color: #e6e6e6;
  --overlay-background-color: rgb(234, 234, 236, 0.6);

  --primary-font-color: #3e4152;
  --secondary-font-color: #fff;

  --primary-alert-background-color: #cce5ff;
  --primary-alert-font-color: #004085;
  --primary-alert-border-color: #b8daff;

  --secondary-alert-background-color: #e2e3e5;
  --secondary-alert-font-color: #383d41;
  --secondary-alert-border-color: #d6d8db;

  --success-alert-background-color: #84f1c9;
  --success-alert-font-color: #1b7052;
  --success-alert-border-color: #c3e6cb;

  --warning-alert-background-color: #fff3cd;
  --warning-alert-font-color: #ff9204;
  --warning-alert-border-color: #ffeeba;

  --danger-alert-background-color: #fcc5c5;
  --danger-alert-font-color: #c90518;
  --danger-alert-border-color: #f5c6cb;

  --badge-status-online: #1b7052;
  --badge-status-offline: rgb(172, 172, 172);
  --badge-status-away: #f44336;

  --button-warning-color: #ffc107;
  --button-danger-color: #dc3545;
  --button-primary-color: #0d6efd;
  --button-secondary-color: #6c757d;
  --button-success-color: #198754;

  --color-light-gray: rgb(160, 160, 160);
  --color-black: black;

  --bs-light: rgba(149, 157, 165, 0.2);
  --bs-dark: rgba(0, 0, 0, 0.35);

  --background-light: rgb(0, 0, 0, 0.5);
}
