.display-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-evenly {
  justify-content: space-evenly;
}
.align-items-center {
  align-items: center;
}
.display-flex-column {
  flex-direction: column;
}
a {
  text-decoration: none;
  transition: 0.2s ease;
}
img {
  max-width: 100%;
  display: block;
}
.prism-default::-webkit-scrollbar {
  width: 10px;
}
.prism-default::-webkit-scrollbar-track {
  background-color: #b2b2b39a;
}
.prism-default::-webkit-scrollbar-thumb {
  border-radius: 33px;
  background-color: #0e0f0f5d;
}
.pad-1 {
  padding: 1rem;
}
.font-weight-light {
  font-weight: 300;
}
.font-weight-regular {
  font-weight: 400;
}
.font-weight-medium {
  font-weight: 500;
}
.font-weight-semibold {
  font-weight: 600;
}
.font-weight-bold {
  font-weight: 700;
}
.font-weight-black {
  font-weight: 900;
}
.h1,
h1 {
  font-size: 3rem;
}
.h2,
h2 {
  font-size: 2.5rem;
}
.h3,
h3 {
  font-size: 2rem;
}
.h4,
h4 {
  font-size: 1.75rem;
}
.h5,
h5 {
  font-size: 1.4rem;
}
.h6,
h6 {
  font-size: 1.25rem;
}
.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.selected-component {
  color: var(--primary-color) !important;
}
.selected-component:hover {
  color: var(--secondary-font-color) !important;
  background: var(--primary-color) !important;
  border-radius: 5px !important;
}
