<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/swift.css" />

    <title>Swift UI|Avtar</title>
  </head>
  <body>
    <h2>Image Avtar</h2>
    <div class="avtar-wrapper">
      <div class="avtar avtar-xxl">
        <img
          src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/125296371/original/653cc81872119844644e33d40f5afd9bd61743b6/create-cool-cartoon-avatars.jpg"
          alt="avtar"
        />
      </div>
      <div class="avtar avtar-xl">
        <img
          src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/125296371/original/653cc81872119844644e33d40f5afd9bd61743b6/create-cool-cartoon-avatars.jpg"
          alt="avtar"
        />
      </div>
      <div class="avtar avtar-lg">
        <img
          src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/125296371/original/653cc81872119844644e33d40f5afd9bd61743b6/create-cool-cartoon-avatars.jpg"
          alt="avtar"
        />
      </div>
      <div class="avtar avtar-md">
        <img
          src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/125296371/original/653cc81872119844644e33d40f5afd9bd61743b6/create-cool-cartoon-avatars.jpg"
          alt="avtar"
        />
      </div>
      <div class="avtar avtar-sm">
        <img
          src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/125296371/original/653cc81872119844644e33d40f5afd9bd61743b6/create-cool-cartoon-avatars.jpg"
          alt="avtar"
        />
      </div>
      <div class="avtar avtar-xs">
        <img
          src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/125296371/original/653cc81872119844644e33d40f5afd9bd61743b6/create-cool-cartoon-avatars.jpg"
          alt="avtar"
        />
      </div>
    </div>

    <h2>Text Avtar</h2>
    <div class="avtar-wrapper">
      <div class="avtar avtar-text avtar-xxl">
        <span>VM</span>
      </div>
      <div class="avtar avtar-text avtar-xl">
        <span>VM</span>
      </div>
      <div class="avtar avtar-text avtar-lg">
        <span>VM</span>
      </div>
      <div class="avtar avtar-text avtar-md">
        <span>VM</span>
      </div>
      <div class="avtar avtar-text avtar-sm">
        <span>VM</span>
      </div>
      <div class="avtar avtar-text avtar-xs">
        <span>VM</span>
      </div>
    </div>
  </body>
  <script
    src="https://kit.fontawesome.com/d7aea2aee7.js"
    crossorigin="anonymous"
  ></script>
</html>
