<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Swift UI | Alerts</title>
    <link rel="icon" href="/assests/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/components/swift.css" />
    <link rel="stylesheet" href="/documentation.css" />
  </head>
  <body>
    <!-- Header Starts -->
    <header>
      <div
        class="container display-flex justify-content-space-between align-items-center"
      >
        <div class="logo">
          <a
            class="display-flex font-weight-black align-items-center h2"
            href="/home.html"
          >
            <img src="/assests/logo.png" alt="Swift Logo" /><span
              >Swift UI</span
            >
          </a>
        </div>
        <div class="navigation font-weight-semibold">
          <a class="h3" href="/home.html">Home</a>
          <a class="h3" href="/components/usage/usage.html">Documentation</a>
        </div>
      </div>
    </header>
    <!-- Header Ends -->

    <!-- Main Content Starts -->
    <div class="wrapper display-flex">
      <!-- Sidebar starts -->
      <aisde class="sidebar">
        <h3 class="font-weight-bold">Getting Started</h3>
        <ul class="list-style-none">
          <li>
            <a class="selected-component" href="/components/usage/usage.html"
              >Usage</a
            >
          </li>
          <li>
            <a href="/components/typography/typography.html">Typography</a>
          </li>
        </ul>

        <h3>Components</h3>
        <ul class="list-style-none">
          <li><a href="/components/alert/alert.html">Alerts</a></li>
          <li><a href="/components/avatar/avatar.html">Avatars</a></li>
          <li><a href="/components/badges/badges.html">Badges</a></li>
          <li><a href="/components/buttons/buttons.html">Buttons</a></li>
          <li><a href="/components/image/image.html">Image</a></li>
          <li><a href="/components/toast/toast.html">Toast</a></li>
          <li><a href="/components/cards/cards.html">Cards</a></li>
          <li><a href="/components/modal/modal.html">Modal</a></li>
          <li><a href="/components/lists/lists.html">Lists</a></li>
          <li><a href="/components/input/input.html">Input</a></li>
          <li>
            <a href="/components/navigation/navigation.html">Navigation</a>
          </li>
          <li><a href="/components/rating/rating.html">Ratings</a></li>
        </ul>
        <div class="social-media display-flex">
          <a class="h3" href="https://github.com/varun1233" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
          <a
            class="h3"
            href="https://twitter.com/VarunMittal1233"
            target="_blank"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            class="h3"
            href="https://www.linkedin.com/in/varunmittal1233/"
            target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
        </div>
      </aisde>
      <!-- Sidebar ends -->

      <section class="main-documentation">
        <!-- Component Introduction -->
        <div class="component-intro font-weight-regular">
          <h1>Usage</h1>
          <p>
            Swift UI is an HTML CSS based UI toolkit, a light weight and modular
            library for developing fast and powerful web interfaces. To start
            using the components in your project import the stylesheet in your
            css or html file.
          </p>
        </div>
        <div class="component-code">
          <script
            type="text/plain"
            class="line-numbers language-markup prism-default"
          >
            <!-- For CSS -->
            @import url("https://swift-ui.netlify.app/components/swift.css");

            <!-- For HTML -->
            <link rel="stylesheet" href="https://swift-ui.netlify.app/components/swift.css">
          </script>
        </div>
      </section>
    </div>
    <!-- Main Content Ends -->
  </body>
  <script
    src="https://kit.fontawesome.com/d7aea2aee7.js"
    crossorigin="anonymous"
  ></script>
  <script src="/utils/prism/prism.js"></script>
</html>
