<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/swift.css" />

    <title>Swift UI|Alerts</title>
  </head>
  <body>
    <div class="alert alert-primary">This is primary alert.</div>
    <div class="alert alert-secondary">This is secondary alert.</div>
    <div class="alert alert-success">This is success alert.</div>
    <div class="alert alert-warning">This is warning alert.</div>
    <div class="alert alert-danger">This is danger alert.</div>
    <div class="alert alert-success">
      <span class="alert-icon">
        <i class="fas fa-check-circle"></i>
      </span>
      This is success alert with icon.
    </div>
  </body>
  <script
    src="https://kit.fontawesome.com/d7aea2aee7.js"
    crossorigin="anonymous"
  ></script>
</html>
